***{
  "answer": "{{ answer | default('Your query is out of my knowledge, please wait for a minute! I am connecting to service desk team') }}",
  "isManIntervention": true,
  "suggested_actions": [{"label": "Contact Service Desk", "targetDomain": "service_desk"}]
}***
